//colors
$color-primary: #845EC2;
$color-primary-light: #a87fea;
$color-primary-dark: #722ce1;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#163b5e;
$color-tertiary-dark:#5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;

$color-black: #000;

// font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
